name: Update Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  generate-svg:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          
      - name: Install
        run: npm install
        
      - name: Run Generator
        run: node generate.js
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          GITHUB_USERNAME: ${{ github.repository_owner }}
          
      - name: Push new stats
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update stats.svg"
          file_pattern: "stats.svg"